[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "cancun"

# Remappings
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@pythnetwork/entropy-sdk-solidity/=lib/pyth-crosschain/target_chains/ethereum/entropy_sdk/solidity/",
    "forge-std/=lib/forge-std/src/",
]

[profile.default.fuzz]
runs = 256
max_test_rejects = 65536
seed = "0x3e8"
dictionary_weight = 40
include_storage = true
include_push_bytes = true

[rpc_endpoints]
monad_testnet = "${MONAD_RPC_URL}"
monad_mainnet = "${MONAD_MAINNET_RPC_URL}"

[etherscan]
monad_testnet = { key = "${ETHERSCAN_API_KEY}", url = "https://testnet.monadscan.com/api" }
monad_mainnet = { key = "${ETHERSCAN_API_KEY}", url = "https://monadscan.com/api" }
